/Project/Server/cmake-build-debug/
/Project/Server/build/
/Project/Server/.idea/

/Project/Client/.idea/
/Project/Client/build/
/Project/Client/.idea/
Project/Client/.idea/vcs.xml
Project/Client/.idea/vcs.xml
Project/Client/.idea/modules.xml
Project/Client/.idea/editor.xml
